<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-container">
            <img class="logo" src="img/logo.svg" alt="PoultryStore Logo" />
            <h1 class="logo-label">Poultry Store</h1>

            <img class="tel-logo" src="img/phone.svg" alt="Phone Logo" />
            <a class="tel" href="tel:+79302842824">
                +7 930 284-28-24
            </a>

            <div class="address-container">
                <h4 class="address">Адрес:</h4>
                <p>Сосновский район, Макасово, ул. Гагарина 111</p>
            </div>
        </div>
    </div>
</footer>

@code {

}
